{% extends 'base.html.twig' %}
{% block body %}
    <a href="javascript:window.open('','_self').close();" style="text-decoration: none; color: white; font-size:35px;">
        <div style="position: absolute; z-index: 9999; top: 81.5%; left: 45.5%; background: #181438; border: solid #bd6545 2px; border-radius: 1px; padding: 20px; padding-left: 35px; padding-right: 35px;">
            ВИХIД
        </div>
    </a>
   {# <div class="loading">
        <div class="timer"></div>
    </div>#}

    <p style="position: absolute; color:#b96a41; top: 32%; left: 125px; text-transform: uppercase; font-size: 30px;">
        Планування
    </p>
    <a onclick="diplay_hide('#block_id');return false;" style="background: none; position: absolute; top: 29%; left: 7.5%; padding-top: 150px; padding-left:50px; padding-right:50px; ">
        <img src="{{ asset('img/m_plan.png') }}" width="">
    </a>
(
    <div id="block_id" style="display: none; position: absolute; width: 218px; height: 200px; top: 51%; left: 6%; text-align: center;">
        <a href="{{ path('planing') }}" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Типові</a>
        <hr>
        {#<a href="plan1.html" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Дворівневі</a>
        <hr>#}
    </div>

    <p style="position: absolute; color:#b96a41; top: 32%; left:20%; text-transform: uppercase; font-size: 30px; padding-left:50px; padding-right:50px;">
        Камера
    </p>
    <a onclick="diplay_hide2('#block_id2');return false;" style="background: none; position: absolute; top: 29%; left: 24%; padding-top: 150px;">
        <img src="{{ asset('img/m_cam.png') }}" width="">
    </a>

    <div id="block_id2" style="display: none; position: absolute; width: 218px; height: 200px; top: 51%; left: 20%; text-align: center;">
        <a  href="{{ path('camera') }}" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">
            Камера 1
        </a>
        <hr>
        {#<a id="" href="camera_fs2.html" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">
            Камера 2
        </a>#}
        <hr>
    </div>

    <p style="position: absolute; color:#b96a41; top: 32%; left: 32.3%; text-transform: uppercase; font-size: 30px; padding-left:50px; padding-right:50px;">
        Локація
    </p>
    <a href="{{ path('location') }}" target="_blank" style="background: none; position: absolute; top: 29%; left: 36.7%; padding-top: 150px;">
        <img src="{{ asset('img/m_location.png') }}" width="">
    </a>
    <p style="position: absolute; color:#b96a41; top: 32%; left: 56%; text-transform: uppercase; font-size: 30px; padding-left:50px; padding-right:50px;">
        Аерофото
    </p>
    <a onclick="diplay_hide3('#block_id3');return false;" style="background: none; position: absolute; top: 29%; left: 61%; padding-top: 150px;">
        <img src="{{ asset('img/m_aero-photo.png') }}" width="">
    </a>
    <div id="block_id3" style="display: none; position: absolute; width: 218px; height: 200px; top: 51%; left: 57.3%; text-align: center;">
        {#<a href="aerophoto-new.html" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">
            Серпень 2018
        </a>
        <hr>#}
        <a href="{{ path('aerophoto') }}" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">
            Серпень 2017
        </a>
        <hr>
        {#<a href="video-aero.html" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">
            Хiд Будiвництва
        </a>
        <hr>#}
    </div>

    <a href="{{ path('base') }}" target="_blank" class="logo-site"></a>

    <p style="position: absolute; color:#b96a41; top: 32%; left: 72%; text-transform: uppercase; font-size: 30px; padding-left:50px; padding-right:50px;">
        3D тур
    </p>
    <a id="" href="{{ path('tour') }}" target="_blank" style="background: none; position: absolute; top: 29%; left: 76%; padding-top: 150px;">
        <img src="{{ asset('img/m_360.png') }}">
    </a>
    <p style="position: absolute; color:#b96a41; top: 32%; left: 85.4%; text-transform: uppercase; font-size: 30px; padding-left:50px; padding-right:50px;">
        Галерея
    </p>

    <a onclick="diplay_hide1('#block_id1');return false;" style="background: none; position: absolute; top: 30%; left: 89.5%; padding-top: 150px;">
        <img src="{{ asset('img/m_gallery.png') }}" width="">
    </a>

    <div id="block_id1" style="display: none; position: absolute; width: 218px; height: 200px; top: 51%; left: 85.8%; text-align: center;">
        <a href="{{ path('gallery') }}" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">
            Дитяча кімната
        </a>
        {#<hr>
        <a href="gallery_int.html" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">
            Вхiдна группа
        </a>
        <hr>
        <a href="gallery_fasady.html" target="_blank"
           style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">Фасади</a>
        <hr>
        <a href="gallery-video.html" target="_blank" style="color:#b96a41; font-size: 20px; position: ; top:1%; left:1%;text-decoration: none;text-transform: uppercase;">
            <img src="{{ asset('img/play.png') }}" width="20" style="margin-top: -5px;">
            Відео
        </a>
        <hr>#}
    </div>
    <!-- кнопка-->
    {#<a href="smart_house/Sweet_Home1.html" target="_blank" style="background: none; position: absolute; top: 76%; left: 94.2%; padding-top: 150px; padding-bottom: 50px;">
        <img src="{{ asset('img/sh.png') }}" width="50">
    </a>#}

{% endblock %}
                
{% block javascripts %}
    <script>
        function myFunction() {
            var myWindow = window.open("http://3dtour.ua/files/2017/zhk_edelweiss_house/06_01_2017/3dtour/index.html#/day1/", "", "width=1920, height=1080", "");

            myWindow.blur();
        }
    </script>
    <script>

        function diplay_hide(blockId) {
            if ($(blockId).css('display') == 'none') {
                $(blockId).animate({height: 'show'}, 100);
            } else {
                $(blockId).animate({height: 'hide'}, 100);
            }
        }

        function diplay_hide1(blockId1) {
            if ($(blockId1).css('display') == 'none') {
                $(blockId1).animate({height: 'show'}, 100);
            } else {
                $(blockId1).animate({height: 'hide'}, 100);
            }
        }

        function diplay_hide2(blockId2) {
            if ($(blockId2).css('display') == 'none') {
                $(blockId2).animate({height: 'show'}, 100);
            } else {
                $(blockId2).animate({height: 'hide'}, 100);
            }
        }

        function diplay_hide3(blockId3) {
            if ($(blockId3).css('display') == 'none') {
                $(blockId3).animate({height: 'show'}, 100);
            } else {
                $(blockId3).animate({height: 'hide'}, 100);
            }
        }
    </script>
    <script>

        // Count ------------------------------------------------------------------------
        $(document).ready(function () {
            // Alloted time in seconds
            var timeVal = 0;
            // Set timer
            $('.timer').html(timeVal);
            // Load timer function
            refreshTimer();
            // Refresh button
            $('.btn').click(function () {
                // Reset timer
                $('.timer').html(timeVal);
                // Clear interval
                clearInterval(loadTimer);
                // Load interval again
                loadTimer = setInterval(refreshTimer, timerInterval);
                // Set timer
                refreshTimer();
            });
            // Interval
            var timerInterval = 0;
            var loadTimer = setInterval(refreshTimer, timerInterval);
        });

        // Refresh Timer
        function refreshTimer() {
            // Set counter
            setTimeout(function () {
                // Get timer value and decrement in 1
                var myTime = parseInt($('.timer').html()) + 1;
                // If timer has not reached 0
                if (myTime < 100) {
                    // Set timer
                    $('.timer').html(myTime + "%");
                } else {
                    // Else do something
                    $('.timer').html('100%');
                }
            }, 1);
        }

    </script>
    <script>
        // put this script in between the <head> tags of your document
        $(document).ready(function () {
            $(".container1").hide(); // hides the content DIV
        });

        // when all elements of the page are completely loaded, script below executes
        $(window).load(function () {
            $(".loading").fadeOut("slow"); // loading DIV fades out
            $(".container1").fadeIn("slow"); // content DIV fades in
        });
    </script>

{% endblock javascripts %}