{% block body %}
    <div class="container">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {% if 'buttons' not in app.request.uri %}
    <a>Добавление ЖК</a>
    <form name="sql_building" action="{{ path('buildingSave')}}" method="POST">
    <p> <input type="text"  name='name' > <br>
        <input type="text"  name='url' ><br>
        <input type="file"  name='logo' ><br>
        <input type="file" name='background' ><br>
        <input type="text" name='brandName' ></p>
        <button type="submit">Добавить</button>
    </form>
    {% else %}
        <h4>Добавленные кнопки</h4>
        <ul>
        {% for button in buttons %}
            <li>Имя кнопки: {{ button.name }} <b>УРЛ: {{ button.url }}</b>
            <a class="btn btn-edit" id="edit" href="{{ path('buttons_edit', { id: button.id }) }}">Изменить</a>
            </li>
        {% endfor %}
        </ul>
    <h4>Добавление кнопок</h4>
    <form name="sql_button" action="{{ path('buttons_save')}}" method="POST">
        <input type="text" class="form-control"  name='button_name'> <br>
        <input type="hidden" class="form-control" name='building' value="{{ building.id }}">
        <input type="text" class="form-control" name='button_url' ><br>
        <button class="btn btn-primary" type="submit" >Добавить</button>
    </form>
    {% endif %}
    </div>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{  asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
